
<div class="topnavbar darkerthemecolor white">
    <div class="section white-font">NGITHOLE</div>
    <div class="section">
        <div class="registerbuttoncontainer white-font">Contracting Solutions</div>
        <div class="dropdowncontainer">
            <div class="dropdown"></div>
        </div>
    </div>
    <div class="section white-font">Log Out</div>
</div>

<div class="navigationbar">

   <div class="navbuttons">
        <div class="col center"><div class="navbutton mainbackgroundcolor">Dashboard</div></div>
        <div class="col center"><div class="navbutton mainbackgroundcolor">My Profile</div></div>
        <div class="col center"><div class="navbutton darkerthemecolor">My Contracts</div></div>
   </div>
   <div class="flag center">
        <img class="theflag" src="assets/sa-flag.jpg">
   </div>
   <div class="menubutton center">
        <div class="mbutton">Menu</div>
    </div>  
</div>
