

/* contract history section */
.contracthistory{
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 341px;
    max-width: 406px;
    padding-left: 10px;
    padding-top: 10px;
}
.innercontracthistory{
    width: 95%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
}
.maincontracthistorycontainer{
    width: 100%;
    height: 80%;
    overflow-y: auto;
}
.historycontractcontainer{
    width: 100%;
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.historycontract{
    width: 90%;
    height: 95%;
    border-radius: 10px;
    font-size: 12px;
    padding: 9px;
    color: white;
}
.contractstatus{
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
}

@media screen and (max-width:872px) {
    .contracthistory{
        width: 70%;
        min-width: 100%;
        padding: 20px;
    }
    .innercontracthistory{
        width: 100%;
    }
}