
<div class="contractspagemain darkerthemecolor">
    <div class="row sectioncontainer">

        <div class="messages darkerthemecolor">
            <div class="innermessages mainbackgroundcolor">
                <div class="title">Messages</div>
                <div class="dividercontainer"><div class="divider"></div></div>
                <div class="mainmessagescontainer">

                    <div class="messagecontainer" *ngFor="let contract of contracts">
                        <div class="message darkerthemecolor">

                            <div class="messageprofilepictureusernameanddate">
                                <div class="messageprofilepictureandusername">
                                    <div class="messageprofilepicture"><div class="messagecircularprofilepicture"></div></div>
                                    <div class="messageusername">Lebohang Mhlane</div>
                                </div>
                                <div class="contractId">ID: #4523</div>
                            </div>

                            <div class="messagecontent">
                                Excellent work! My wall looks great!
                            </div>

                            <div class="trustratingtitle">Trust Rated:</div>

                            <div class="rating">
                                <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                                <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                                <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                                <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                                <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="offers darkerthemecolor">
            <div class="inneroffers mainbackgroundcolor">
                <div class="title">
                    <div class="titletext">Offers</div>
                    <div class="menubuttoncontainer">
                        <div class="menubutton">
                            <div class="buttoncircle"></div>
                            <div class="buttoncircle"></div>
                            <div class="buttoncircle"></div>
                        </div>
                    </div>
                </div>
                <div class="dividercontainer"><div class="divider"></div></div>
                <div class="mainoffercontainer mainbackgroundcolor">

                    <div class="offercontainer mainbackgroundcolor" *ngFor="let contract of contracts">
                        <div class="offer darkerthemecolor">

                            <div class="profilepictureusernameanddate">
                                <div class="profilepictureandusername">
                                    <div class="profilepicture"><div class="circularprofilepicture"></div></div>
                                    <div class="username">Lebohang Mhlane</div>
                                </div>
                                <div class="date">2 January 2023</div>
                            </div>

                            <div class="service">
                                Seeking service: <span class="servicetag">Gardener</span> ongoing <span class="ongoingicon"><img src="assets/ongoingicon.svg" width="15px" alt=""></span> 3 months
                            </div>
                            
                            <div class="service offeramountcontainer">
                                Offer: <span class="offernumerical"> R 600 </span> on completion
                            </div>

                            <div class="service offeramountcontainer">
                                Job Scope:
                            </div>

                            <div class="scopeimages">
                                <div class="scopeimage"></div>
                                <div class="scopeimage"></div>
                                <div class="scopeimage"></div>
                                <div class="scopeimage"></div>
                            </div>

                            <div class="service offeramountcontainer">
                                Location:
                            </div>
                            <div class="service offeramountcontainer">
                                Westville, Durban, South Africa
                            </div>
                            
                            <div class="service offeramountcontainer">
                                Additional comments: 
                            </div>
                            <div class="service offeramountcontainer">
                                You may be required to wear the provided work uniform
                            </div>  

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="contracthistory darkerthemecolor">
            
            <div class="profilecontainer">
                <div class="innerprofilesection">
                    <div class="profiledetailssection">
                        <div class="pdetail">Lebohang Asanda Mhlane</div>
                        <div class="pdetail">Plumbing | Gardening | Tile Fitting</div>
                        <div class="pdetail">Contractor</div>
                        <div class="dividercontainer profiledividercontainer"><div class="divider"></div></div>
                        <div class="pdetail">Contract completed: 2</div>
                        <div class="pdetail">Avg Trust Rating:</div>
                        <div class="rating profilerating">
                            <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                            <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                            <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                            <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                            <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                        </div>
                    </div>
                    <div class="profilepicturesection"><div class="ppicture"></div></div>
                </div>
            </div>

            <div class="innercontracthistory mainbackgroundcolor">
                <div class="title">Contract History</div>
                <div class="dividercontainer"><div class="divider"></div></div>
                <div class="maincontracthistorycontainer">
                    
                    <div class="historycontractcontainer" *ngFor="let contract of contracts">
                        <div class="historycontract darkerthemecolor">

                            <div class="messageprofilepictureusernameanddate">
                                <div class="messageprofilepictureandusername">
                                    <div class="messageprofilepicture"><div class="messagecircularprofilepicture"></div></div>
                                    <div class="messageusername">Lebohang Mhlane</div>
                                </div>
                                <div class="contractId">ID: #4523</div>
                            </div>

                            <div class="contractstatus">Service: <span class="servicetag">Gardener</span></div>

                            <div class="contractstatus">Status: Completed</div>

                            <div class="trustratingtitle">Trust Rated:</div>

                            <div class="rating">
                                <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                                <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                                <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                                <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                                <img class="ratingstar" src="assets/Star-6.svg" width="22px">
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>    

        </div>

    </div>
</div>