

/* offers list section */
.offers{
    flex: 2;
    min-width: 531px;
    max-width: 690px;
    padding-top: 10px;
}
.inneroffers{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.mainoffercontainer{
    width: 100%;
    height: 72vh;
    overflow-y: auto;
}
.offercontainer{
    width: 100%; 
    height: 410px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.offer{
    width: 95%;
    height: 98%;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 0px;
    color: white;
    font-size: 12px;
}.profilepictureusernameanddate{
    width: 100%;
    display: flex;
    height: 19%;
    justify-content: space-between;
    color: white;
}
.profilepictureusernameanddate > :nth-child(1){
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}.circularprofilepicture{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: white;
    margin-right: 10px;
}
.profilepictureusernameanddate > :nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.service{
    width: 100%;
    height: 30px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}
.ongoingicon{
    padding: 5px 5px 5px 5px;
}
.servicetag{
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 0px 5px;
    background-color: #76B6C5;
    border-radius: 5px;
    
}
.offernumerical{
    padding: 0px 5px 0px 5px;
    font-weight: bold;
}
.scopeimages{
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 15px;
    margin: 5px 0px 5px 0px;
}
.scopeimage{
    width: 60px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
}

@media screen and (max-width:1212px){
    .offers{
        padding-left: 1.7%;
    }

    .title{
        display: flex;
        min-width: 100%;
        justify-content: space-between;
    }
    .menubuttoncontainer{
        display: block;
        width: 40px;
        height: 100%;
        padding: 10px 0px 10px 0px;
        margin-right: 27px;
    }
    .menubutton{
        padding: 0px 5px 0px 5px;
        border-radius: 10px;
        width:100%;
        height: 100%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
    }
    .menubutton:hover{
        background-color: rgba(255, 255, 255, 0.35);
    }
    .buttoncircle{
        width: 6px;
        height: 6px;
        background-color: white;
        border-radius: 10px;
    }
}

@media screen and (max-width:872px) {
    .offers{
        display: none;
    }
}