

.navigationbar{
    height: fit-content;
    min-width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    cursor: pointer;
}
.navbuttons{
    height: fit-content;
    display: flex;
    padding: 10px 0px 10px 0px;
}
.navbuttons > :nth-child(1), :nth-child(2), :nth-child(3){
    max-width: fit-content;
}
.navbutton{
    margin-left: 20px;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    transition: background-color 200ms;
}
.navbutton:hover{
    background-color: #95c4d0;
}
.flag{
    padding: 10px;
    margin-right: 15px;
    justify-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theflag{
    width: 60px;
    height: 30px;
}
.navbarmenubuttoncontainer{
    min-width: 40px;
    display: none;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    margin-right: 15px;
}
.navmenubutton{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 9px 5px 9px 5px;
    border-radius: 5px;
}
.navmenubutton:hover{
    background-color: #477383;
}
.navbuttoncircle{
    min-width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 10px;
}


@media screen and (max-width:509px) {
    .navbarmenubuttoncontainer{
        display: flex;
    }
    .navbuttons{
        display: none;
    }
    .mbutton{
        width: auto;
        height: auto;
    }
    .navbutton{
        width: auto;
        font-size: 10px;
        padding: 0px 5px 0px 5px;
    }
}
