
app-myprofilepage{
    width: 100%;
    height: 80%;
}
.myprofilepagemain{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.col{
    padding: 0px;
    margin: 0px;
}
/* main section container */
.sectioncontainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* divider */
.dividercontainer{
    height: 1.5%;
    padding: 0px 5% 0px 5%;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.483);
}

/* title for all sections */
.title{
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: white;
    font-size: 12px;
}
.menubutton{
    display: none;
}
.menubuttoncontainer{
    display: none;
}