

<div class="myprofilepagemain darkerthemecolor">
    <div class="row sectioncontainer">

        <div class="messages darkerthemecolor">
            <div class="innermessages mainbackgroundcolor">
                <div class="title">Messages</div>
                <div class="dividercontainer"><div class="divider"></div></div>
                <div class="mainmessagescontainer">
                    <div class="messagecontainer">
                        <div class="message darkerthemecolor"></div>
                    </div>
                    <div class="messagecontainer">
                        <div class="message darkerthemecolor"></div>
                    </div>
                    <div class="messagecontainer">
                        <div class="message darkerthemecolor"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="offers darkerthemecolor">
            <div class="inneroffers mainbackgroundcolor">
                <div class="title">Offers</div>
                <div class="dividercontainer"><div class="divider"></div></div>
                <div class="mainoffercontainer mainbackgroundcolor">
                    <div class="offercontainer mainbackgroundcolor">
                        <div class="offer darkerthemecolor"></div>
                    </div>
                    <div class="offercontainer mainbackgroundcolor">
                        <div class="offer darkerthemecolor"></div>
                    </div>
                    <div class="offercontainer mainbackgroundcolor">
                        <div class="offer darkerthemecolor">

                            <div class="profilepictureusernameanddate">
                                <div class="profilepictureandusername">
                                    <div class="profilepicture"><div class="circularprofilepicture"></div></div>
                                    <div class="username">Lebohang Mhlane</div>
                                </div>
                                <div class="date">2 January 2023</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contracthistory darkerthemecolor">
            
            <div class="profilecontainer">
                <div class="innerprofilesection">
                    <div class="profiledetailssection"></div>
                    <div class="profilepicturesection"><div class="ppicture"></div></div>
                </div>
            </div>

            <div class="innercontracthistory mainbackgroundcolor">
                <div class="title">Contract History</div>
                <div class="dividercontainer"><div class="divider"></div></div>
                <div class="maincontracthistorycontainer">
                    <div class="historycontractcontainer">
                        <div class="historycontract darkerthemecolor"></div>
                    </div>
                    <div class="historycontractcontainer">
                        <div class="historycontract darkerthemecolor"></div>
                    </div>
                    <div class="historycontractcontainer">
                        <div class="historycontract darkerthemecolor"></div>
                    </div>
                </div>
            </div>    

        </div>

    </div>
</div>