

/* contract history section */
.contracthistory{
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 341px;
    max-width: 406px;
    padding-left: 10px;
    padding-top: 10px;
}
/* profile section */
.profilecontainer{
    width: 100%;
    height: 20%;
}
.innerprofilesection{
    width: 95%;
    height: 100%;
    display: flex;
}
.profiledetailssection{
    flex: 2;
}
.profilepicturesection{
    flex: 1;
    padding: 10px 0px 10px 10px;
    padding-top: 0px;
    display: flex;
    justify-content: flex-end;
}
.ppicture{
    min-width: 112px;
    max-width: 112px;
    width: 100%;
    height: 50%;
    background-color: #307584;
    border-radius: 10px;
}
/* contract history list section */
.innercontracthistory{
    width: 95%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
}
.maincontracthistorycontainer{
    width: 100%;
    height: 80%;
    overflow-y: auto;
}
.historycontractcontainer{
    width: 100%;
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.historycontract{
    width: 90%;
    height: 95%;
    border-radius: 10px;
    font-size: 12px;
    padding: 9px;
    color: white;
}
.contractstatus{
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
}