<div class="mainContainer">

    <div class="mainImageViewContainer">

        <div class="imageLayer">
            <img class="dogImage" src="{{ dogImages[currentIndex] }}" alt="">
        </div>

        <div class="buttonLayer">
            <div (click)="getPreviousDogImage()" class="backButton"></div>
            <div *ngIf="loadingImage" class="loadingIndicator">
                <img src="assets/beatinghearts.gif" alt="">
            </div>
            <div (click)="getDogImage()" class="nextButton"></div>
        </div>

    </div>

</div>