<div class="profilemain">
  <div class="one">
    <div class="buttons">
      <div class="radiusbuttons">
        <div class="button">Click Me!</div>
        <div class="button">Click Me!</div>
        <div class="button">Click Me!</div>
        <div class="button">Click Me!</div>
      </div>
    </div>

    <div class="dropdowns">
      <div class="maindropdownview">
        <div class="dropdownbuttoncontainer">
          <div class="dropdownbutton">
            <span>Hover over me!</span>
            <div class="dropdownmenu"></div>
          </div>
        </div>
      </div>

      <!-- <div class="dropdown">
        <span>Mouse over me</span>
        <div class="dropdown-content">
          <p>Hello World!</p>
        </div>
      </div> -->
    </div>

    <div class="scrolls"></div>
  </div>

  <div class="two"></div>

  <div class="three"></div>
</div>
