

/* messages list section */
.messages{
    flex:1;
    display: flex;
    justify-content: flex-end;
    min-width: 341px;
    max-width: 406px;
    padding-top: 10px;
    padding-right: 10px;
}
.innermessages{
    width: 95%;
    height: 100%;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.mainmessagescontainer{
    width: 100%;
    height: 72vh;
    overflow-y: auto;
}
.messagecontainer{
    width: 100%;
    height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.message{
    width: 90%;
    height: 95%;
    border-radius: 10px;
    font-size: 12px;
    padding: 9px;
    padding-bottom: 0px;
    color: white;
}
.messageprofilepictureusernameanddate{
    width: 100%;
    height: fit-content;
    display: flex;
}
.messageprofilepictureandusername{
    flex: 2;
    width: 100%;
    height: fit-content;
    display: flex;
}
.messagecircularprofilepicture{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100px;
    margin-right: 10px;
}
.messageusername{
    display: flex;
    align-items: center;
    font-size: 11px;
}
.contractId{
    font-size: 11px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.messagecontent{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 45px;
}
.trustratingtitle{
    padding-left: 15px;
    margin-bottom: 10px;
}
.rating{
    width: 100%;
    height: fit-content;
    padding-left: 15px;
}

@media screen and (max-width:1212px){
    .messages{
        display: none;
    }
}