/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
    margin:0px;
    font-family: 'Work Sans', sans-serif;
}
html{
    height: 100vh;
    overflow: auto;
}
app-root{
    display: block;
    height: 100%;
}
* {
    box-sizing: border-box;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* color presets */
.mainbackgroundcolor{
    background-color: #307584;
}
.darkerthemecolor{
    background-color: #13353D;
}
.grey{
    background-color: grey;
}
.black{
    background-color: black;
}
.green{
    background-color: green;
}
.white-font{
    color: #fff;
}
.buttoncolordefault{
    background-color: #307584;
}
.buttoncolorselected{
    background-color: #13353D;
}



.col{
    padding: 0px;
}
.row{
    padding: 0px;
    margin: 0px;
}


/* scroll bar */
::-webkit-scrollbar{
    width: 7px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: #307584;
}