



<div class="container-fluid p-0 sectioncontainer">  
    <div class="row p-0 m-0">
        <div class="col p-0"></div>
        <div class="p-0 middle mainbackgroundcolor">
            <div class="padder">
                <div class="columntitle">Available Contracts</div>
                <div class="dividercontainer">
                    <div class="divider"></div>
                </div>
                <div class="wrapper">
                <div class="contracts">  
                    <div class="contractcontainer"></div>
                    <div class="contractcontainer"></div>
                    <div class="contractcontainer"></div>
                    <div class="contractcontainer"></div>
                    <div class="contractcontainer"></div>
                    <div class="contractcontainer"></div>
                    <div class="contractcontainer"></div>
                    <div class="contractcontainer"></div>
                    <div class="contractcontainer"></div>               
                    <div class="contractcontainer"></div>
                    <div class="contractcontainer"></div>
                    <div class="contractcontainer"></div>
                </div>
                <div class="spacer"></div>
                </div>
            </div>
        </div>
        <div class="col p-0"></div>
    </div>
</div>
