
<div class="container-fluid p-0 sectioncontainer darkerthemecolor">  

    <div class="row threesections">

        <!-- messages -->
        <div class="col section1 darkerthemecolor">
            <div class="messagescontainer mainbackgroundcolor">
                <div class="sectiontitle">Feedback</div>
                <div class="dividercontainer"><div class="divider"></div></div>
                <div class="viewavailablecontracts">
                    <div class="messagecontainer ">
                        <div class="feedback"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="feedback"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="feedback"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="feedback"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="feedback"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="feedback"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="feedback"></div>
                    </div>
                </div> 
            </div>
        </div>


        <!-- available contracts -->
        <div class="col section2 darkerthemecolor">
            <div class="availablecontractscontainer mainbackgroundcolor">
                <div class="sectiontitle">Offers</div>  
                <div class="dividercontainer"><div class="divider"></div></div>
                <div class="viewavailablecontracts">
                    
                    <div class="contractcontainer ">
                        <div class="availablecontract">

                            <div class="useranddate">
                                <div class="user">
                                    <div class="userpicture">
                                        <div class="upicture"></div>
                                    </div>
                                    <div class="name">Lebohang Asanda Mhlane</div>s
                                </div>
                                <div class="date">
                                    <div class="datetext">3 January 2023</div>
                                </div>
                            </div>

                            <div class="contractdetails">
                                Seeking service: <span class="servicetag">Domestic Worker</span> Ongoing 3 Months
                            </div>
                            <div class="details">Offer: <span class="pay">R 4000 /pm</span>  negotiable</div>
                            <div class="details">Job Scope:</div>
                            <div class="scopeimages">
                                <div src="" alt="" class="scopeimage"></div>
                                <div src="" alt="" class="scopeimage"></div>
                                <div src="" alt="" class="scopeimage"></div>
                                <div src="" alt="" class="scopeimage"></div>
                            </div>
                            <div class="details">Location: Westville, Durban, South Africa</div>
                            <div class="contractspacer"></div>
                            <div class="details">Additional Info:</div>
                            <div class="details">Please note that you will be required to wear provided uniform</div>
                        </div>
                    </div>

                    <div class="contractcontainer ">
                        <div class="availablecontract"></div>
                    </div>
                    <div class="contractcontainer ">
                        <div class="availablecontract"></div>
                    </div>
                    <div class="contractcontainer ">
                        <div class="availablecontract"></div>
                    </div>
                    <div class="contractcontainer ">
                        <div class="availablecontract"></div>
                    </div>
                </div> 
            </div>
        </div>  


        <!-- profile and contracts history -->
        <div class="col section3 darkerthemecolor">

            <div class="profilecontainer">
                <div class="profilesection1">
                    <div class="username">Lebohang Asanda Mhlane</div>
                    <div class="skills">Plumbing | Tile Fitting |</div>
                    <div class="usertype">Contractor</div>
                    <div class="dividercontainer"><div class="divider"></div></div>
                    <div class="skills">Contracts Completed: 2</div>
                    <div class="skills">Avg Trust Rating</div>
                    <div class="rating">
                        <img class="star" src="assets/Star-6.svg" alt="">
                        <img class="star" src="assets/Star-6.svg" alt="">
                        <img class="star" src="assets/Star-6.svg" alt="">
                        <img class="star" src="assets/Star-6-white.svg" alt="">
                        <img class="star" src="assets/Star-6-white.svg" alt="">
                    </div>
                </div>
                <div class="profilesection2">
                    <div class="profilepicture"></div>
                </div>
            </div>  

            <div class="contracthistorycontainer mainbackgroundcolor">
                <div class="sectiontitle">Contract History</div>
                <div class="dividercontainer"><div class="divider"></div></div>
                <div class="viewavailablecontracts">
                    <div class="messagecontainer ">
                        <div class="historycontract"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="historycontract"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="historycontract"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="historycontract"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="historycontract"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="historycontract"></div>
                    </div>
                    <div class="messagecontainer ">
                        <div class="historycontract"></div>
                    </div>
                </div> 
            </div>
        </div>

    </div>
    
</div>
